button{
    cursor: pointer;
font-size:3rem;
border-radius:20px;
border:none;
background-color: rgb(231, 230, 229);
}
#ac{
font-weight:italic;
font-size:2rem;
background-color: rgb(246, 235, 191);
}
.operator{
font-size:4rem;
font-weight:bold;
text-align:center;
background-color: rgb(246, 235, 191);
}
#val{
display:grid;
grid-template-columns:repeat(4,1fr);
gap: 8px;
padding:15px;
}
#dis{
text-align:right;
width:100%;
padding:20px;
border-radius: 30px;
font-size:5rem;
border-color: blanchedalmond;
background-color: rgb(231, 230, 229);
}
#calc{
font-family:Arial,  sans-serif;
border-radius: 20px;
max-width:400px;
overflow: hidden;
padding: 10px;
background-color: rgb(112, 112, 112);
}
body{
margin:0;
display:flex;
justify-content:center;
align-items:center;
}
#zero{
padding:10px;
border-spacing: 100px;;

}
#valc{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:5px;
    padding:10px;
    }
#ac1{
    background-color: rgb(255, 246, 151);
    gap: 8px;
    padding: 15px;
    display: grid;
}